## 기존 전처리한 .ipynb파일이 있었으나 현재 파일이 손상되어 안 열림..
- 다행이 csv파일은 보조되어 다시 전처리
- 기존 csv파일에서 형법범 데이터만 가져옴 나머지는 제외시킴(특별법범)
- 해당 csv파일은 2022년도

In [1]:
import pandas as pd

df = pd.read_csv('지역별 범죄발생 data.csv', encoding='euc-kr')
df.head(3)

,범죄 대분류,범죄 유형,죄명,서울,부산,대구,인천,광주,대전,울산,...,경기,강원,충북,충남,전북,전남,경북,경남,제주,합계
0,형법범 (건),재산범죄,절도,37697,13808,9805,8900,5247,6070,1726,...,41573,4636,5758,7663,5652,6202,10455,13285,3133,182720
1,형법범 (건),재산범죄,장물,51,30,13,25,4,8,2,...,62,5,9,11,4,6,8,13,4,256
2,형법범 (건),재산범죄,사기,58894,27903,15335,17912,8746,12188,2974,...,79005,9430,10767,14285,12735,10265,16310,24925,6109,329358

In [2]:
df.columns

Index(['범죄 대분류', '범죄 유형', '죄명', '서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종',
       '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주', '합계'],
      dtype='object')

In [3]:
# "지역별"이라는 상위 레벨을 추가할 컬럼들
data = ['서울', '부산', '대구', '인천', '광주', '대전', '울산', 
          '세종', '경기', '강원', '충북', '충남', '전북', '전남', 
          '경북', '경남', '제주']

# 멀티레벨 컬럼 인덱스 생성
new_columns = []

for col in df.columns:
    if col in data:
        new_columns.append(('지역별', col))  # 지역별이라는 상위 레벨 추가
    else:
        new_columns.append(('', col))  # 기타 컬럼은 상위 레벨 없이 유지

# 새로운 멀티인덱스 설정(가로형태 상위 컬럼)
df.columns = pd.MultiIndex.from_tuples(new_columns)
df.head()

                        지역별                                          ...  \
    범죄 대분류 범죄 유형  죄명     서울     부산     대구     인천    광주     대전    울산  ...
0  형법범 (건)  재산범죄  절도  37697  13808   9805   8900  5247   6070  1726  ...
1  형법범 (건)  재산범죄  장물     51     30     13     25     4      8     2  ...
2  형법범 (건)  재산범죄  사기  58894  27903  15335  17912  8746  12188  2974  ...
3  형법범 (건)  재산범죄  횡령  17141   4625   2702   4280  1738   1524   393  ...
4  형법범 (건)  재산범죄  배임   1140    311    170    213   131    135    69  ...


      경기    강원     충북     충남     전북     전남     경북     경남    제주      합계
0  41573  4636   5758   7663   5652   6202  10455  13285  3133  182720
1     62     5      9     11      4      6      8     13     4     256
2  79005  9430  10767  14285  12735  10265  16310  24925  6109  329358
3  15801  1203   1273   1833   1264   1295   2106   3059   868   61354
4    993   107     93    194    117    142    170    273    70    4344

[5 rows x 21 columns]

## 지역별 범죄건수가 가장 많은 지역 조회

In [4]:
# 지역별 데이터에서 각 도시별 범죄건수 합 (위에서 멀티인덱스로 지역별 컬럼에 지역포함)
df_total = df['지역별'].sum(axis=0) 
# 계산된 합계를 DataFrame으로 변환
df_total = df_total.to_frame(name='범죄건수')
# 범죄건수를 기준으로 내림차순
df_total_sort_values = df_total.sort_values(by='범죄건수', ascending=False)
df_total_sort_values

      범죄건수
경기  244061
서울  205245
부산   77357
경남   69122
인천   57875
경북   48346
대구   46835
충남   39562
대전   32980
전남   32655
전북   32264
충북   30086
강원   27790
광주   26617
제주   19049
울산    9356
세종    4683

In [11]:
df.to_csv('2022지역별 범죄발생 data.csv', encoding='euc-kr')